@model IEnumerable<SimpleForum.Web.ViewModels.IndexForumPostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="col-md-1 text-center">
                <div class="well ">
                    <div class="row">0</div>
                    <div class="row">Answer</div>
                </div>
            </div>



            <div class="col-md-1 text-center">
                <div class="well ">
                    <div class="row">0</div>
                    <div class="row">Answer</div>
                </div>
            </div>


            <div class="col-md-10">
                <div class="row">
                    <h3>@post.Title</h3>
                </div>
                <div class="row">
                    <p>Created by Ivan on 20.01.2016 in SomeRandomCategory</p>
                </div>
                <div class="row">
                    <span class="badge">Kids</span>
                    <span class="badge">Academy</span>
                    <span class="badge">Randomone</span>
                    <span class="badge">SecondBadge</span>
                </div>
            </div>
        </div>
        <hr/>
    }
</div>
